.span12
  .row
    %h3.span6.page-header= t('.review_list_titile')
  .row
    %table.table-striped.span2#review-list
      %tbody
        %tr.review-list-item#add-link
          %td= link_to t('.add_review_link'), '#'
        - @reviews.each do |review|
          %tr.review-list-item{id: "#{review.id}"}
            %td= review.title
    .span5#show-review

:javascript
  $(document).ready(function(){
    $("#review-list .review-list-item").on('click', function() {
      var id = $(this)[0].id;
      var url;
      if (id == 'add-link') {
        url = '/admin/reviews/new';
      } else {
        url = '/admin/reviews/' + id + '/edit';
      }
      $.ajax({
        url: url,
        type: 'GET',
        data: {id: id},
        dataType: 'html',
        async: true,

        success: function(data, textStatus, jqXHR) {
          $('#show-review').html(data);
        },
        error: function(request, textStatus, errorThrown) {
          console.log(request);
          console.log(textStatus);
          console.log(errorThrown);
        }
      });
    });
  });
