%header
.navbar
  .navbar-inner
    %ul.nav
      %li= link_to t('.galleries_link'), admin_gallaries_path
      %li= link_to t('.topics_link'), admin_topics_path
      %li= link_to t('.reviews_link'), admin_reviews_path
      %li= link_to t('.contacts_link'), admin_contacts_path