.span12
  .row
    %h3.span6.page-header= t('.about_page_title')
  .row
    = image_tag 'about_pic.jpg', width: 250, style: 'float: left; margin-right: 20px;'
    #custom-text
      %p
        Здравствуйте, меня зовут Артем, я - фотограф.
      %p
        Хочу сказать, что фотография для меня является не столько профессией, сколько самой большой страстью в моей жизни. Занятие фотографией — прежде всего творчество, которое приносит мне огромное удовольствие.
      %p
        Создавая кадр, я стараюсь передать эмоцию, настроение, атмосферу события, ведь за каждым кадром стоит миг жизни, который приятным воспоминанием останется с вами на всю жизнь. Я люблю делать красивые фотографии, раскрывать в них каждого человека с наилучшей стороны.
      %p
        Отдельное место в моей работе занимает художественная обработка фотографий, которая позволяет добавить сочности и яркости красок для достижения наилучшего результата вашего фотоснимка.
      %p
        В своей работе я использую профессиональную цифровую фототехнику Canon 5D Mark II и объективы L класса.
      %p
        Работаю в команде с ведущими стилистами и операторами.