.span12
  .row
    %h3.page-header= t('.gallaries_page_title')
  .row
    #custom-text
      %p
        Портфолио фотографа — визитная карточка, которая призвана показать на деле, на что способен фотограф, как творческая личность.  На этой странице Вы сможете ознакомиться с моим творчеством и оценить качество моих работ. Чтобы просмотреть каталог, щелкните мышкой по соответствующей картинке. С отзывами о моих работах вы можете ознакомиться
        = link_to "здесь", reviews_path
        \.
  .row
    .col-lg-7#gallaries-list
      - @gallaries.each do |gal|
        = link_to gallary_path(gal) do
          = image_tag gal.pic, height: 280, class: 'gallary-pic'




