%footer.panel-footer
  .container
    .row
      %p
        Copyright © 2014 Сайт фотографа. Artem Jordan, Москва. Копирование любых материалов без согласования запрещено.
    .row
      = link_to t('.sitemap_page_link'), page_path(:sitemap)
