%header
.navbar
  .navbar-inner
    %ul.nav
      %li
        = link_to 'Портфолио', '#'
      %li
        = link_to 'Блог', '#'
      %li
        = link_to 'Отзывы', '#'
      %li
        = link_to 'Контакты', '#'