%header
.navbar
  .navbar-inner
    %ul.nav
      %li
        = link_to 'Портфолио', admin_gallaries_path
      %li
        = link_to 'Блог', admin_topics_path
      %li
        = link_to 'Отзывы', admin_reviews_path
      %li
        = link_to 'Контакты', admin_contacts_path